fastapi
uvicorn[standard]
sqlalchemy
pyodbc
python-dotenv
python-multipart
pydantic
opencv-python
numpy
openai
ultralytics
sounddevice
soundfile
SpeechRecognition
pydub
pandas
tabulate
chromadb
sentence-transformers
python-jose[cryptography]
