/****** Object:  Schema [qmap]    Script Date: 7/18/2026 9:14:36 AM ******/
CREATE SCHEMA [qmap]
GO
/****** Object:  Table [dbo].[activity_logs]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[log_id] [varchar](50) NOT NULL,
	[day] [varchar](20) NOT NULL,
	[time] [varchar](20) NOT NULL,
	[camera_zone] [varchar](100) NOT NULL,
	[activity] [varchar](200) NOT NULL,
	[start_time] [varchar](20) NOT NULL,
	[end_time] [varchar](20) NOT NULL,
	[action] [varchar](50) NULL,
	[image_url] [varchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[activity_model]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_model](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TimeFrame] [datetime] NULL,
	[Activity] [varchar](255) NULL,
	[zone] [varchar](255) NULL,
	[Project] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activity_new]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity_new](
	[id] [int] NOT NULL,
	[TimeFrame] [datetime] NULL,
	[Activity] [varchar](255) NULL,
	[zone] [varchar](255) NULL,
	[Project] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[activity_update]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_update](
	[Name] [varchar](max) NULL,
	[Project Name] [varchar](max) NULL,
	[Location] [varchar](max) NULL,
	[Area of Work] [varchar](max) NULL,
	[Type of Construction Activity] [varchar](max) NULL,
	[Relevant Drawing No] [varchar](max) NULL,
	[Activity Brief] [varchar](max) NULL,
	[Activity Start Date & Time] [datetime] NULL,
	[Activity End Date & Time] [datetime] NULL,
	[RFI No] [varchar](max) NULL,
	[RFI Date] [datetime] NULL,
	[Created] [datetime] NULL,
	[ELEMENT] [varchar](250) NULL,
	[CATEGORY] [varchar](250) NULL,
	[SUB-CATEGORY] [varchar](250) NULL,
	[ACTIVITY] [varchar](250) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[ID] [int] NOT NULL,
	[Created By] [varchar](50) NULL,
 CONSTRAINT [PK_activity_update] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CameraEvents]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CameraEvents](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [varchar](20) NULL,
	[Time] [time](7) NULL,
	[CameraZone] [varchar](50) NULL,
	[Event] [varchar](100) NULL,
	[Action] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cameras]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cameras](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[camera_name] [varchar](255) NULL,
	[rtsp_url] [varchar](max) NULL,
	[location] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compliance_audit]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compliance_audit](
	[Sl.No] [int] IDENTITY(1,1) NOT NULL,
	[Project] [varchar](200) NULL,
	[Activity] [varchar](200) NULL,
	[Sub_Activity] [varchar](200) NULL,
	[Observation_Date] [date] NULL,
	[Observation_Time] [time](7) NULL,
	[Safety_Issues] [varchar](max) NULL,
	[Possible_Risks] [varchar](max) NULL,
	[Recommendations] [varchar](max) NULL,
	[Breif_Desription] [varchar](max) NULL,
	[Image_Blob] [varbinary](max) NULL,
	[Initiated_By] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Audit_Id] [varchar](255) NULL,
	[Site_Engineer] [nvarchar](255) NULL,
	[Target_Date] [date] NULL,
	[Status] [varchar](50) NOT NULL,
	[Corrective_Action_Taken] [text] NULL,
	[Closed_Date] [date] NULL,
	[Initiator_comment] [nvarchar](max) NULL,
	[tot_Rework_count] [int] NULL,
	[Pending_Evidence] [nvarchar](max) NULL,
	[Closure_SE_Date] [date] NULL,
	[Closure_SE_Time] [varchar](10) NULL,
	[Closed_Time] [time](7) NULL,
	[SBG] [varchar](255) NULL,
	[BU] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sl.No] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[context_audit_auditfinding]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[context_audit_auditfinding](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[clause] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[category] [nvarchar](100) NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[audit_slot_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[context_audit_auditplan]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[context_audit_auditplan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[audit_type] [nvarchar](20) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[projects] [nvarchar](max) NOT NULL,
	[departments] [nvarchar](max) NOT NULL,
	[hq_functions] [nvarchar](max) NOT NULL,
	[audit_months] [nvarchar](max) NOT NULL,
	[created_by_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[context_audit_auditplan_business_units]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[context_audit_auditplan_business_units](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[auditplan_id] [bigint] NOT NULL,
	[businessunit_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[context_audit_auditreportmeta]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[context_audit_auditreportmeta](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[document_number] [nvarchar](100) NULL,
	[job_code] [nvarchar](100) NULL,
	[project_head] [nvarchar](100) NULL,
	[project_status] [nvarchar](100) NULL,
	[date_of_report] [date] NULL,
	[site_photo] [nvarchar](max) NULL,
	[auditor_designation] [nvarchar](100) NULL,
	[auditor_signature] [nvarchar](max) NULL,
	[annexure_photos] [nvarchar](max) NOT NULL,
	[ai_summary] [nvarchar](max) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[audit_slot_id] [bigint] NOT NULL,
	[auditor_details] [nvarchar](max) NOT NULL,
	[execution_summary_text] [nvarchar](max) NULL,
	[is_preview_saved] [bit] NOT NULL,
	[finding_categories] [nvarchar](max) NOT NULL,
	[is_sent_to_reviewer] [bit] NOT NULL,
	[reviewer_comments] [nvarchar](max) NULL,
	[reviewer_decision] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[audit_slot_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[context_audit_businessunit]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[context_audit_businessunit](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[unit_type] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detection_logs]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detection_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[camera_id] [int] NULL,
	[worker_count] [int] NULL,
	[helmet_count] [int] NULL,
	[vest_count] [int] NULL,
	[timestamp] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidents]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidents](
	[id] [nvarchar](50) NOT NULL,
	[timestamp] [datetime] NULL,
	[camera] [nvarchar](100) NULL,
	[zone] [nvarchar](100) NULL,
	[type] [nvarchar](100) NULL,
	[confidence] [int] NULL,
	[status] [nvarchar](100) NULL,
	[severity] [nvarchar](20) NULL,
	[imageUrl] [nvarchar](500) NULL,
	[oneDriveUrl] [nvarchar](500) NULL,
	[localPath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projects]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project] [varchar](max) NOT NULL,
	[client] [varchar](max) NOT NULL,
	[consultant] [varchar](max) NOT NULL,
	[contractor] [varchar](max) NOT NULL,
	[format_no] [varchar](max) NOT NULL,
	[created_at] [datetime] NULL,
	[locked] [bit] NULL,
	[lt_construction] [varchar](50) NULL,
	[concessionaire_pmc] [varchar](50) NULL,
	[independent_engineer] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[safety_model]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[safety_model](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[time] [time](7) NULL,
	[CameraZone] [varchar](100) NULL,
	[UnsafeActivity] [nvarchar](max) NULL,
	[recommendation] [nvarchar](max) NULL,
	[risk] [nvarchar](max) NULL,
	[ImageBlob] [varbinary](max) NULL,
	[remarks] [nvarchar](max) NULL,
	[Project] [nvarchar](255) NULL,
	[UnSafeConditions] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Site_Monitoring_Users]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site_Monitoring_Users](
	[Sr_No] [int] IDENTITY(1,1) NOT NULL,
	[Project_Name] [varchar](255) NOT NULL,
	[Employee_Name] [varchar](255) NOT NULL,
	[Role] [varchar](100) NOT NULL,
	[PS_Number] [varchar](50) NOT NULL,
	[Mail_ID] [varchar](255) NOT NULL,
	[SBG] [varchar](255) NULL,
	[BU] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sr_No] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PS_Number] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uauc_evidence]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uauc_evidence](
	[Evidence_Id] [int] IDENTITY(1,1) NOT NULL,
	[Audit_Id] [varchar](100) NULL,
	[Issue_Name] [nvarchar](max) NULL,
	[After_Image_Blob] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Evidence_Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uauc_rejection_history]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uauc_rejection_history](
	[Rejection_Id] [int] IDENTITY(1,1) NOT NULL,
	[Audit_Id] [varchar](100) NOT NULL,
	[Rejected_By] [varchar](200) NOT NULL,
	[Rejection_Date] [datetime] NOT NULL,
	[Rejection_Comment] [nvarchar](max) NULL,
	[Rework_Count] [int] NOT NULL,
	[Unresolved_Issues] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Rejection_Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unsafe_activity_clustered]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unsafe_activity_clustered](
	[UnsafeActivity] [varchar](max) NULL,
	[clean_text] [varchar](max) NULL,
	[cluster] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unsafe_activity_clustered_final]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unsafe_activity_clustered_final](
	[UnsafeActivity] [varchar](max) NULL,
	[clean_text] [varchar](max) NULL,
	[cluster] [bigint] NULL,
	[final_cluster] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unsafe_activity_clustered_v5]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unsafe_activity_clustered_v5](
	[UnsafeActivity] [varchar](max) NULL,
	[clean_text] [varchar](max) NULL,
	[cluster] [int] NULL,
	[cluster_label] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_projects]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_projects](
	[user_projects_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[project_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_projects_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](max) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[mfa_enabled] [bit] NULL,
	[mfa_secret_encrypted] [nvarchar](500) NULL,
	[mfa_setup_completed] [bit] NULL,
	[failed_login_attempts] [int] NULL,
	[last_failed_login] [datetime2](7) NULL,
	[last_login] [datetime2](7) NULL,
 CONSTRAINT [users_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [users_username_key] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[violations]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[violations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[camera_id] [int] NULL,
	[violation_type] [varchar](max) NULL,
	[image_path] [varchar](max) NULL,
	[timestamp] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[activity_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[activity_update] ADD  CONSTRAINT [DF_activity_update_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[activity_update] ADD  CONSTRAINT [DF_activity_update_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[compliance_audit] ADD  DEFAULT ('OPEN') FOR [Status]
GO
ALTER TABLE [dbo].[detection_logs] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[Incidents] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((1)) FOR [locked]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [mfa_enabled]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [mfa_setup_completed]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [failed_login_attempts]
GO
ALTER TABLE [dbo].[violations] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[context_audit_auditfinding]  WITH CHECK ADD  CONSTRAINT [context_audit_auditfinding_audit_slot_id_47229313_fk_context_audit_auditslot_id] FOREIGN KEY([audit_slot_id])
REFERENCES [dbo].[context_audit_auditslot] ([id])
GO
ALTER TABLE [dbo].[context_audit_auditfinding] CHECK CONSTRAINT [context_audit_auditfinding_audit_slot_id_47229313_fk_context_audit_auditslot_id]
GO
ALTER TABLE [dbo].[context_audit_auditplan]  WITH CHECK ADD  CONSTRAINT [context_audit_auditplan_created_by_id_e62bff4f_fk_auth_user_id] FOREIGN KEY([created_by_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[context_audit_auditplan] CHECK CONSTRAINT [context_audit_auditplan_created_by_id_e62bff4f_fk_auth_user_id]
GO
ALTER TABLE [dbo].[context_audit_auditplan_business_units]  WITH CHECK ADD  CONSTRAINT [context_audit_auditplan_business_units_auditplan_id_614117d6_fk_context_audit_auditplan_id] FOREIGN KEY([auditplan_id])
REFERENCES [dbo].[context_audit_auditplan] ([id])
GO
ALTER TABLE [dbo].[context_audit_auditplan_business_units] CHECK CONSTRAINT [context_audit_auditplan_business_units_auditplan_id_614117d6_fk_context_audit_auditplan_id]
GO
ALTER TABLE [dbo].[context_audit_auditplan_business_units]  WITH CHECK ADD  CONSTRAINT [context_audit_auditplan_business_units_businessunit_id_34e69d78_fk_context_audit_businessunit_id] FOREIGN KEY([businessunit_id])
REFERENCES [dbo].[context_audit_businessunit] ([id])
GO
ALTER TABLE [dbo].[context_audit_auditplan_business_units] CHECK CONSTRAINT [context_audit_auditplan_business_units_businessunit_id_34e69d78_fk_context_audit_businessunit_id]
GO
ALTER TABLE [dbo].[context_audit_auditreportmeta]  WITH CHECK ADD  CONSTRAINT [context_audit_auditreportmeta_audit_slot_id_23fceef6_fk_context_audit_auditslot_id] FOREIGN KEY([audit_slot_id])
REFERENCES [dbo].[context_audit_auditslot] ([id])
GO
ALTER TABLE [dbo].[context_audit_auditreportmeta] CHECK CONSTRAINT [context_audit_auditreportmeta_audit_slot_id_23fceef6_fk_context_audit_auditslot_id]
GO
ALTER TABLE [dbo].[detection_logs]  WITH CHECK ADD FOREIGN KEY([camera_id])
REFERENCES [dbo].[cameras] ([id])
GO
ALTER TABLE [dbo].[violations]  WITH CHECK ADD FOREIGN KEY([camera_id])
REFERENCES [dbo].[cameras] ([id])
GO
ALTER TABLE [dbo].[context_audit_auditplan]  WITH CHECK ADD  CONSTRAINT [context_audit_auditplan_audit_months_83ba9b6c_check] CHECK  ((isjson([audit_months])=(1)))
GO
ALTER TABLE [dbo].[context_audit_auditplan] CHECK CONSTRAINT [context_audit_auditplan_audit_months_83ba9b6c_check]
GO
ALTER TABLE [dbo].[context_audit_auditplan]  WITH CHECK ADD  CONSTRAINT [context_audit_auditplan_departments_5e3dd926_check] CHECK  ((isjson([departments])=(1)))
GO
ALTER TABLE [dbo].[context_audit_auditplan] CHECK CONSTRAINT [context_audit_auditplan_departments_5e3dd926_check]
GO
ALTER TABLE [dbo].[context_audit_auditplan]  WITH CHECK ADD  CONSTRAINT [context_audit_auditplan_hq_functions_4f569c82_check] CHECK  ((isjson([hq_functions])=(1)))
GO
ALTER TABLE [dbo].[context_audit_auditplan] CHECK CONSTRAINT [context_audit_auditplan_hq_functions_4f569c82_check]
GO
ALTER TABLE [dbo].[context_audit_auditplan]  WITH CHECK ADD  CONSTRAINT [context_audit_auditplan_projects_f1a809bc_check] CHECK  ((isjson([projects])=(1)))
GO
ALTER TABLE [dbo].[context_audit_auditplan] CHECK CONSTRAINT [context_audit_auditplan_projects_f1a809bc_check]
GO
ALTER TABLE [dbo].[context_audit_auditreportmeta]  WITH CHECK ADD CHECK  ((isjson([auditor_details])=(1)))
GO
ALTER TABLE [dbo].[context_audit_auditreportmeta]  WITH CHECK ADD CHECK  ((isjson([finding_categories])=(1)))
GO
ALTER TABLE [dbo].[context_audit_auditreportmeta]  WITH CHECK ADD  CONSTRAINT [context_audit_auditreportmeta_ai_summary_6a9d3c60_check] CHECK  ((isjson([ai_summary])=(1)))
GO
ALTER TABLE [dbo].[context_audit_auditreportmeta] CHECK CONSTRAINT [context_audit_auditreportmeta_ai_summary_6a9d3c60_check]
GO
ALTER TABLE [dbo].[context_audit_auditreportmeta]  WITH CHECK ADD  CONSTRAINT [context_audit_auditreportmeta_annexure_photos_d1d1b21a_check] CHECK  ((isjson([annexure_photos])=(1)))
GO
ALTER TABLE [dbo].[context_audit_auditreportmeta] CHECK CONSTRAINT [context_audit_auditreportmeta_annexure_photos_d1d1b21a_check]
GO
/****** Object:  StoredProcedure [dbo].[sp_CleanupExpiredMFAData]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CleanupExpiredMFAData]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @DeletedSessions INT = 0;
        DECLARE @DeletedSecrets INT = 0;

        -- Delete expired MFA sessions
        DELETE FROM dbo.mfa_sessions
        WHERE expires_at < GETUTCDATE();

        SET @DeletedSessions = @@ROWCOUNT;

        -- Delete expired MFA temp secrets
        DELETE FROM dbo.mfa_temp_secrets
        WHERE expires_at < GETUTCDATE();

        SET @DeletedSecrets = @@ROWCOUNT;

        COMMIT TRANSACTION;

        PRINT 'MFA cleanup completed successfully:';
        PRINT '  - Deleted ' + CAST(@DeletedSessions AS NVARCHAR) + ' expired MFA sessions';
        PRINT '  - Deleted ' + CAST(@DeletedSecrets AS NVARCHAR) + ' expired MFA temp secrets';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();

        RAISERROR (
            'MFA cleanup failed: %s',
            @ErrSeverity,
            1,
            @ErrMsg
        );
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[TempSharepointIdDeleteDy]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[TempSharepointIdDeleteDy] @TableName varchar(50)

as 
begin 

declare @sql  nvarchar (max )

set @sql = 'delete from '+

quoteName(@TableName)

Exec Sp_executesql @sql

End
GO
/****** Object:  StoredProcedure [dbo].[UpdateActiveorIsdeleteactivityupdate]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[UpdateActiveorIsdeleteactivityupdate] 
as
begin

update activity_update

set IsDeleted = 1 ,IsActive=0

where ID not in (Select ID from activityupdate_temp_sharepointID) And IsDeleted =0;

End
GO
/****** Object:  StoredProcedure [dbo].[UpdateActiveorIsdeleteDrift]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[UpdateActiveorIsdeleteDrift] 
as
begin

update Drift

set IsDeleted = 1 ,IsActive=0

where ID not in (Select ID from Drift_temp_SharepointId) And IsDeleted =0;

End
GO
/****** Object:  StoredProcedure [dbo].[UpdateActiveorIsdeletepeptalk]    Script Date: 7/18/2026 9:14:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[UpdateActiveorIsdeletepeptalk] 
as
begin

update pep_talk

set IsDeleted = 1 ,IsActive=0

where ID not in (Select ID from peptalk_temp_sharepointID) And IsDeleted =0;

End
GO
